/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  line-height: 1;
  font-size: 62.5%;
  background-color: #ffeee6;
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12%;
  height: 100vh;
  background-color: #5D8AA8;
  border: 1px solid green;
  position: fixed;
  color: white;
}
.sidebar img {
  width: 80%;
  border-radius: 50%;
  margin: 8%;
}
.sidebar p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 2;
  max-width: 100%;
}
.sidebar h2 {
  font-size: 3.5rem;
  margin-bottom: 5%;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  font-size: 3.5rem;
  line-height: 2;
  margin: 20% 0 0 5%;
}
.sidebar nav a {
  color: #C2AFAF;
}
#page-wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
#page-wrapper .main {
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 0;
  font-size: 3rem;
}
#page-wrapper .main img {
  width: 40%;
  margin: 5%;
}
#page-wrapper .main .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 10%;
  max-width: 49%;
}
#page-wrapper .main .about p {
  margin: 10% 0 0 0;
}
#page-wrapper .main .about h1 {
  font-size: 5rem;
  margin: 0% 0 5% 0;
}
#page-wrapper .bottom {
  display: flex;
  justify-content: center;
  max-width: 100%;
  font-size: 3rem;
  line-height: 1.5;
}
#page-wrapper .bottom h2 {
  font-size: 3.5rem;
}
#page-wrapper .bottom .bottom-left {
  margin: 0 5% 0 20%;
  width: 30%;
}
#page-wrapper .bottom .bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
  width: 30%;
}
#page-wrapper .bottom .bottom-right table.blueTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
#page-wrapper .bottom .bottom-right table.blueTable td,
#page-wrapper .bottom .bottom-right table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 6px 2px;
}
#page-wrapper .bottom .bottom-right table.blueTable tbody td {
  font-size: 13px;
}
#page-wrapper .bottom .bottom-right table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
#page-wrapper .bottom .bottom-right table.blueTable thead {
  border-bottom: 2px solid #444444;
}
#page-wrapper .bottom .bottom-right table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
}
#page-wrapper .bottom .bottom-right table.blueTable tfoot td {
  font-size: 14px;
}
#page-wrapper .bottom .bottom-right table.blueTable tfoot .links {
  text-align: right;
}
#page-wrapper .bottom .bottom-right table.blueTable tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
